div#box1, div#box2 {
	margin: 10px;
	width: 600px;
}
div#box3 {
	display: none;
	margin: 10px;
	width: 600px;
}
a:link, a:visited, a:hover, a:active {
	text-decoration: none;
}
label {
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}
br {
    clear: both;
}
input, textarea {
    font-family: Arial, Helvetica, sans-serif;
	vertical-align: middle;
	text-align: center;
}
input.error {
    border: 1px solid red;
}
label.error {
    background: url('../images/unchecked.gif') no-repeat;
    padding-left: 16px;
    margin-left: .3em;
}
label.valid {
    background: url('../images/checked.gif') no-repeat;
    display: block;
    width: 16px;
    height: 16px;
}
input.left {
    width: 200px;
}
table, tr, td {
	border: 1px solid black;
	border-collapse: collapse;
	text-align: center;
	vertical-align: middle;
}
span#error, span#warning {
	color: red;
}
