#sku {
	width: 200px;
}

input.error {
    border: 1px solid red;
}

label.error {
    background: url('../images/unchecked.gif') no-repeat;
    padding-left: 16px;
    margin-left: .3em;
}

label.valid {
    background: url('../images/checked.gif') no-repeat;
    width: 16px;
    height: 16px;
}

br {
    clear: both;
}

div #leftBox {
	width: 300px;
	height: 300px;
	border: 1px solid black;
	float: left;
	margin: 10px;
	padding: 10px;
}

div #rightBox {
	width: 400px;
	border: 1px solid black;
	float: left;
	margin: 10px;
	padding: 10px;
}

img #loading {
	border: 0px;
}
